<!-- sns_box -->
<div class="sns_box">
  <div class="sns_title">
    <h1>コメントを編集</h1>
  </div>
  <div class="sns_title_sha"></div>
  <div class="sns_contents">
    <div class="sns_form_inner">
      <%= form_with(model: @comment, local: true) do |form| %>
        <%= form.text_area :text, placeholder: "text", rows: "8", class: "sns_form2" %>
        <div class="sns_image_send">
          <label class="sns_form3">
            <p>Select an image</p>
            <%= form.file_field :image, class: "form_image" %>
          </label>
        <%= form.submit "SEND", class: "sns_form4" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
<!-- /sns_box -->