<!-- sns_box -->
<div class="sns_box">
  <div class="sns_title">
    <h1>投稿を編集</h1>
  </div>
  <div class="sns_title_sha"></div>
  <div class="sns_contents">
    <div class="sns_check_inner">
      <h1>更新が完了しました。</h1>
      <a class="btn" href="/">投稿一覧へ戻る</a>
    </div>
  </div>

</div>
<!-- /sns_box -->