// Place all the styles related to the sns_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  letter-spacing: .8px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #252525;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.inner {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  /* background-color: brown; */
}

/*--------------------------------
home
---------------------------------*/
/* home_box--------------------- */
.home_box {
  /* background-color: darkgoldenrod; */
  width: 300px;
  height: 100vh;
  font-weight: 600;
  position: fixed;
  border-right: 1px solid rgb(236, 236, 236);
  // background-color: brown;
}

.home_inner {
  /* background-color: greenyellow; */
  width: 75%;
  height: 100vh;
  margin: 0 auto;
}

.home_inner h1 {
  font-size: 30px;
  margin: 25px 0;
}

.home_link {
  /* background-color: hotpink; */
  padding-left: 10px;
  font-size: 20px;
}

.home_link a {
  display: block;
  margin: 30px 0px;
}

.home_post {
  /* background-color: rgb(146, 37, 236); */
  text-align: center;
  position: relative;
}

.home_post a {
  background-color: rgb(120, 255, 102);
  border: 1px solid rgb(120, 255, 102);
  color: #ffffff;
  border-radius: 20px;
  padding: 13px 0;
  margin: 23px 0;
  display: block;
  font-size: 20px;
  width: 200px;
}

.home_profile {
  display: flex;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  // background-color: aquamarine;
}

.home_profile img {
  background-color: rgb(224, 151, 55);
  width: 45px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 100%;
}

.home_profile p {
  // background-color: rgb(218, 30, 108);
  padding-top: 15px;
  padding-left: 5px;
}

/* ------------------------------
sns
------------------------------- */
.sns_box {
  /* background-color: rgb(255, 250, 205); */
  width: 630px;
  margin-left: 300px;
}

.sns_title {
  width: 630px;
  font-size: 20px;
  position: fixed;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.sns_title_sha {
  width: 100%;
  height: 85px;
}

.sns_title h1 {
  font-size: 30px;
  padding: 25px 260px 25px 20px;
  font-weight: bold;
}

.sns_contents {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.sns_icon {
  /* background-color: cadetblue; */
  width: 13%;
}

.icon_inner {
  width: 80%;
  margin: 0 auto;
}

.icon_inner img {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 100%;
}

.sns_text {
  /* background-color: chartreuse; */
  width: 87%;
  padding-right: 5px;
}

.sns_name_box {
  width: 100%;
  display: flex;
  // background-color: aquamarine;
}

.sns_text h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-right: 380px;
}

.tooltip5{
  margin-top: 18px;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  display:  inline-block;
}
.tooltip5 img{
  width: 20px;
  opacity: 0.6;
}
.description5 {
  display: none;
  position: absolute;
  padding: 10px 8px;
  font-size: 12px;
  line-height: 1.6em;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 30px;
}

.description5 a {
  display: block;
}

.description5 a:hover {
  opacity: 0.4;
}

.description5:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  margin-left: -15px;
  transform: rotateZ(180deg);
}
.tooltip5:hover .description5{
  display: inline-block;
  top: 30px;
  left: -14px;
}


.sns_text p {
  font-size: 20px;
  padding-bottom: 5px;
}

.sns_img {
  width: 98%;
  height: auto;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 20px;
}

/* -------------------------------
weight
--------------------------------- */
.weight_box {
  /* background-color: rgb(252, 189, 189);  */
  width: 370px;
  height: 100vh;
  padding-top: 2vh;
  padding-bottom: 5vh;
  padding-left: 30px;
  border-left: 1px solid rgb(236, 236, 236);
  /* background-color: cadetblue; */
  margin-right: 0px;
  position:fixed;
  left:50%;
  margin-left: 280px;
}

.goal_box {
  /* background-color: gold; */
  width: 100%;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 20px;
  font-size: 2.3vh;
  background-color: rgb(228, 228, 228);
}

.goal_inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.goal_title {
  display: flex;
}

.goal_title h1 {
  padding-left: 65px;
  font-size: 3.2vh;
  margin: 2vh 0;
  font-weight: bold;
}

.tooltip5{
  margin-top: 18px;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  display:  inline-block;
}
.tooltip5 img{
  width: 20px;
  opacity: 0.6;
}
.description5 {
  display: none;
  position: absolute;
  padding: 10px 8px;
  font-size: 12px;
  line-height: 1.6em;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 30px;
}

.description5 a {
  display: block;
}

.description5 a:hover {
  opacity: 0.4;
}

.description5:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  margin-left: -15px;
  transform: rotateZ(180deg);
}
.tooltip5:hover .description5{
  display: inline-block;
  top: 30px;
  left: -14px;
}

.weight {
  padding-bottom: 10px;
}

.calorie {
  padding: 1vh 0 18px 0;
}

.calorie h2 {
  font-size: 2.3vh;
  padding-bottom: 1vh;
}

.record_box {
  /* background-color: green; */
  width: 100%;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 20px;
  margin-top: 2.5vh;
}

.record_inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.record_inner h1 {
  font-size: 3.2vh;
  margin: 2vh 0;
  font-weight: bold;
}

.food_cal {
  border-top: 1px solid rgb(236, 236, 236);
  padding-bottom: 1vh;
}

.date_box {
  margin: 1vh 0;
}

.food_cal h2 {
  font-size: 2.3vh;
  font-weight: bold;
}

.food_cal p {
  font-size: 2vh;
  padding-bottom: 0.2vh;
}

.total_cal {
  padding-top: 0.5vh;
}

