// Place all the styles related to the snsposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// --------------------------------------------



/* sns_box---------------------- */
.sns_box {
  /* background-color: rgb(255, 250, 205); */
  width: 630px;
  margin-left: 300px;
  // background-color: aqua; 
}

.sns_title {
  width: 630px;
  font-size: 20px;
  position: fixed;
  display: flex;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.sns_title_sha {
  width: 100%;
  height: 85px;
  /* background-color: chartreuse; */
}

.sns_title h1 {
  font-size: 30px;
  padding: 25px 260px 25px 20px;
  font-weight: bold;
}

.sns_contents {
  display: flex;
  padding: 20px 0;
  // background-color: rgb(255, 221, 127);
  border-bottom: 1px solid rgb(236, 236, 236);
}

// index.html-----------------------------

.sns_icon {
  /* background-color: cadetblue; */
  width: 13%;
}

.icon_inner {
  width: 80%;
  margin: 0 auto;
}

.icon_inner img {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 100%;
}

.sns_text {
  /* background-color: chartreuse; */
  width: 87%;
  padding-right: 5px;
}

.name_box {
  display: flex;
}

.name_box h1 {
  width: 92%;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.sns_drop{
  position: relative;
  cursor: pointer;
  display:  inline-block;
}

.sns_drop img{
  width: 15px;
  opacity: 0.7;
}

.sns_drop_box {
  display: none;
  position: absolute;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.6em;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 50px;
}

.sns_drop_box a {
  display: block;
  padding-left: 10px;
}

.sns_drop_box a:hover {
  opacity: 0.5;
}

.sns_drop_box:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  margin-left: -15px;
}

.sns_drop:hover .sns_drop_box{
  display: inline-block;
  top: 17px;
  left: -17px;
}


.sns_p {
  font-size: 20px;
  padding-bottom: 5px;
}

.sns_img {
  width: 98%;
  height: auto;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 20px;
}

// new.html-------------------------------
.sns_form_inner {
  // background-color: aquamarine;
  width: 100%;
  display: block;
  font-size: 20px;
}

.sns_form1 {
  display: block;
  // background-color: rgb(221, 120, 53);
  margin: 0 auto;
  width: 90%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px 10px;
}

.sns_form2 {
  display: block;
  // background-color: rgb(241, 88, 216);
  margin: 0 auto;
  width: 90%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px 10px;
}

.sns_image_send {
  display: flex;
}

.sns_form3 {
  display: block;
  margin: 0 auto;
  width: 30%;
  background-color: rgb(120, 255, 102);
  border: 1px solid rgb(120, 255, 102);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  // margin-bottom: 15px;
  padding: 8px 10px;
  text-align: center;
}

.sns_form3:hover {
  opacity: 0.6;
}

.form_image {
  display: none;
}

.sns_form4 {
  display: block;
  // background-color: rgb(221, 204, 53);
  margin: 0 auto;
  width: 30%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
  background-color: rgb(187, 187, 187);
}

.sns_form4:hover {
  opacity: 0.6;
}

// create.html-------------------------------
.sns_check_inner {
  // background-color: aquamarine;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 100px 0px;
}

.sns_check_inner h1 {
  font-size: 20px;
  margin-bottom: 40px;
}

.sns_check_inner a {
  background-color: rgb(120, 255, 102);
  border: 1px solid rgb(120, 255, 102);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.sns_check_inner a:hover {
  opacity: 0.6;
}

// devise----------------------------------
// new.html.erb----------------------------
.field {
  margin-left: 65px;
  // background-color: aquamarine;
  width: 500px;
  font-size: 22px;
}

.devise_form {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  margin: 5px 0 15px 0;
}

.devise_btn {
  width: 95%;
  background-color: rgb(120, 255, 102);
  border: 1px solid rgb(120, 255, 102);
  border-radius: 15px;
  text-align: center;
  padding: 10px 0;
  margin-left: 45px;
  margin-top: 10px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.devise_btn:hover {
  opacity: 0.6;
}

// ----user.show---------------
.profile_contents {
  padding: 20px 0;
  // background-color: rgb(255, 221, 127);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.profile_box {
  display: flex;
}

.profile_icon {
  // background-color: cadetblue;
  width: 28%;
}

.profile_inner {
  width: 80%;
  margin: 0 auto;
}

.profile_inner img {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 100%;
}

.profile_text {
  width: 95%;
  margin: 0 auto;
  // background-color: aqua;
}

.profile_text h1 {
  margin-top: 5px;
  font-size: 23px;
  font-weight: bold;
}

.profile_text p {
  margin-top: 2px;
  font-weight: bold;
}

.profile_link {
  // background-color: chartreuse; 
  width: 72%;
  padding-top: 5px;
}

.profile_link a {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  // background-color: aqua;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 20px;
  margin-left: 300px;
}

.comment_form {
  // background-color: aqua;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

.comment_image_send_box {
  margin-top: 10px;
  display: flex;
}

.comment_img {
  color: rgb(251, 251, 251);
  padding: 5px 10px;
  border: 1px solid rgb(120, 255, 102);
  // border-radius: 20px;
  background-color: rgb(120, 255, 102);
  // margin-left: 10px;
}

.comment_img:hover {
  opacity: 0.6;
}

.comment_send {
  background-color: rgb(187, 187, 187);
  padding: 5px 10px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 20px;
  margin-left: 380px;
}

.comment_send:hover {
  opacity: 0.6;
}

.warning_box {
  // background-color: aqua;
  width: 100%;
  text-align: center;
}

.warning_p {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  // background-color: blanchedalmond;
}

